@font-face {
  font-family: 'Born Strong';
  src: url("../fonts/BornStrong-Black.ttf"); }

@font-face {
  font-family: 'Thirsty Script';
  src: url("../fonts/ThirstyScriptRegular.otf"); }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaTEE Bold.ttf"); }

* {
  padding: 0;
  margin: 0; }

body {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: auto; }

.page-wraper {
  -webkit-box-shadow: 0 0 25px -15px #000;
  box-shadow: 0 0 25px -15px #000; }

.page-header {
  padding: 19px 0; }

.main-nav {
  display: flex;
  justify-content: space-between; }

.main-nav__list {
  display: contents; }

.site-list__item {
  width: 19.1%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  list-style: none; }
  .site-list__item a:hover {
    color: #81b3d2; }
  .site-list__item a {
    color: #000; }
  .site-list__item:nth-child(n+3) {
    order: 3; }
  .site-list__item a:active {
    color: rgba(0, 0, 0, 0.3); }

.nav-logo {
  width: 20%;
  order: 2; }
  .nav-logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0 auto; }

.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px; }

.footer__tag {
  font-size: 21px;
  font-weight: 700; }

.footer__social {
  display: flex; }

.footer__development {
  display: flex;
  align-items: center; }

.development__defenition {
  margin-right: 10px; }

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 8px;
  background-color: #81b3d2; }

.hero {
  height: 400px;
  padding: 78px 0 45px 0;
  background: url("../img/back-desktop.png") no-repeat center top/cover;
  text-align: center; }
  .hero::after {
    content: '';
    display: flex;
    height: 61px;
    background: url("../img/intro-triangle.png") no-repeat center top/contain; }
  .hero__title {
    margin-top: 32px;
    font-family: 'Futura';
    font-size: 122px;
    color: #fff; }

.hero {
  height: auto;
  background-position-y: bottom;
  padding: 78px 0 0 0; }
  .hero__title {
    margin-bottom: 36px; }

.picture.video {
  padding: 110px 0 85px 0; }

.picture__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px; }

.picture__subtitle {
  font-size: 14px;
  font-weight: 400;
  max-width: 427px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 77px; }

.picture__item:first-child {
  background: url("../img/photo-1.png") no-repeat center top/cover;
  height: 400px;
  width: 100%; }

.picture__item:nth-child(2) {
  background: url("../img/photo-2.png") no-repeat center top/cover;
  height: 257px;
  width: 33.3333%; }

.picture__item:nth-child(3) {
  background: url("../img/photo-3.png") no-repeat center top/cover;
  height: 257px;
  width: 33.3333%; }

.picture__item:last-child {
  background: url("../img/photo-bridge.png") no-repeat center top/cover;
  height: 257px;
  width: 33.3333%; }

.picture-block {
  display: flex;
  flex-wrap: wrap; }

.image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff; }
  .image__caption {
    margin: 0 0 0 21px; }
    .image__caption__title {
      margin-bottom: 10px;
      font-weight: 700; }
    .image__caption__subtitle {
      font-size: 14px; }
  .image__likes {
    display: flex;
    align-items: center;
    padding: 0 25px 0 0;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer; }
    .image__likes::before {
      content: url("../img/like-icon.png");
      padding-right: 9px; }

.caption__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  background-color: rgba(0, 0, 0, 0.3); }

.video-block {
  padding-top: 72px; }

.video__title {
  text-align: center;
  padding-bottom: 20px; }

.video__subtitle {
  max-width: 427px;
  margin: 0 auto;
  text-align: center; }

.video-item {
  margin-top: 76px; }
  .video-item video {
    max-width: 62%;
    display: flex;
    margin: 0 auto; }

/*# sourceMappingURL=video&photo.css.map */
