@font-face{
    font-family: 'Born Strong';
    src: url('/fonts/BornStrong-Black.ttf');
}

@font-face{
    font-family: 'Thirsty Script';
    src: url('/fonts/ThirstyScriptRegular.otf');
}

@font-face{
    font-family: 'Futura';
    src: url('/fonts/FuturaTEE\ Bold.ttf');
}

@mixin title {
    font-size: 21px;
    font-weight: 700;
}

@mixin subtitle {
    font-size: 14px;
    font-weight: 400;
}

@mixin number-lines {
    &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        vertical-align: middle;
        margin: 0 5px 2px 0;
    }
    &::after{
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        vertical-align: middle;
        margin: 0 0 2px 5px;
    }
}

* {
    padding: 0;
    margin: 0;
}
  
body {
    color: #000;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}
  
a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.page-wraper {
    -webkit-box-shadow: 0 0 25px -15px #000;
    box-shadow: 0 0 25px -15px #000;
}

.page-header {
    padding: 19px 0;
}

.main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .site-list__item {
        width: 20%;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        list-style: none;
        & a:hover {
            color: #816554;
        }
        & a {
            color: #000;
        }
        &:nth-child(3) {
            margin-left: auto;
        }
    }
    .site-list__item--active {
        color: #604e43;
    }
}        
.nav-logo {
    position: absolute;
    top: 0;
    left: 42%;
    z-index: 100;
    width: 15%;
    .logo-image {
        width: 100%;
    }
}