.page-header {
    padding: 19px 0;
}

.main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .site-list__item {
        width: 20%;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        list-style: none;
        & a:hover {
            color: #816554;
        }
        & a {
            color: #000;
        }
        &:nth-child(3) {
            margin-left: auto;
        }
    }
    .site-list__item--active {
        color: #604e43;
    }
}        
.nav-logo {
    position: absolute;
    top: 0;
    left: 42%;
    z-index: 100;
    width: 15%;
    .logo-image {
        width: 100%;
    }
}
