.hero {
    max-width: 1200px;
    position: relative;
    padding: 78px 0 0 0;
    margin: 0 auto;
    background: url('../img/back-desktop.png') no-repeat center top / cover;
    text-align: center;
    background-color: #7ca3c8;
    &__greetings { 
        font-family: 'Born Strong';
        color: #81b3d2;
        font-size: 55px;
    }
    &__subgreetings {
        font-family: 'Thirsty Script';
        font-size: 31px;
        line-height: 20px;
        color: #766357;
        text-transform: none;
        &::before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 2px;
            vertical-align: middle;
            margin-right: 12px;
            background-color: #766357;
        }
        &::after{
            content: '';
            display: inline-block;
            width: 30px;
            height: 2px;
            vertical-align: middle;
            margin-left: 12px;
            background-color: #766357;
        }
    }
    &__title {
        margin-top: 32px;
        font-family: 'Futura';
        font-size: 122px;
        color: #fff;
    }
    &__slogan {
        font-size: 40px;
        font-family: 'Thirsty Script';
        color: #fff;
        text-transform: none;
    }
    &__triangle {
        background: url('../img/intro-triangle.png') no-repeat center bottom/ auto;
        height: 58px;
        position: relative;
        bottom: -1px;
    }
}