@import 'sass/header.scss';
@import 'sass/hero.scss';
@import 'sass/footer.scss';
@import 'sass/public-style.scss';

@mixin number-lines {
    &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        vertical-align: middle;
        margin: 0 5px 2px 0;
    }
    &::after{
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        vertical-align: middle;
        margin: 0 0 2px 5px;
    }
}





.reasons {
    padding-top: 50px;

    &__header {
        max-width: 490px;
        margin: 0 auto;
        text-align: center;
    }

    &__description {
        margin-bottom: 30px;
        @include title();
    }

    &__subdescription {
        @include subtitle();
        padding-bottom: 55px;
    }
}


.city {
    display: flex;
    text-align: center;

    &__image {
        display: flex;
        width: 70%;
        & img {
            width: 100%;
        }
    }

}


.defenition {
    padding: 53px 0 63px 0; 
    background-color: #81b3d2;
    color: #fff;
    &__title {
        @include title();
    }

    &__subtitle {
        @include subtitle();
        @include number-lines();
        &::before, &::after {
            background-color: #fff;
        }
        padding: 13px 0 22px;
    }

    &__about {
        @include subtitle();
        margin: 0 auto;
        width: 73.8%;
    }
}


.advantages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 85px 0;;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 24%;
        &:first-child .advantages__title:before{
            content: url("../img/icon-house.png");
            margin-bottom: 30px;
        }
        &:nth-child(2) .advantages__title:before{
            content: url('../img/icon-burger.png');
            margin-bottom: 30px;
        }
        &:nth-child(3) .advantages__title:before{
            content: url('../img/icon-gift.png');
            margin-bottom: 30px;
        }
    }

    &__title {
        @include title();
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        @include subtitle();
    }
}

.bridge {
    display: flex;
    text-align: center;
    &__image {
        display: flex;
        & img {
            width: 100%;     
        }
    }
} 
.bridge-defenition { 
    padding: 53px 0;
    background-color: #81b3d2;
    color: #fff;

    &__title {
        @include title();
    }

    &__subtitle {
        @include subtitle();
        @include number-lines();
        &::before, &::after {
            background-color: #fff;
        }
        padding: 12px 0 25px;
    }

    &__about {
        @include subtitle();
        width: 56%;
        margin: 0 auto;
    }
}


.benefits {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 70px 0;
    text-align: center;
    background-color: #eeeeee;
}
.benefits-block {
    max-width: 28%;

    &--area {
        max-width: 29%;
    }

    &__title {
        max-width: 159px;
        margin: 0 auto;
        @include title();
        color: #333333;
    }



    &__subtitle {
        @include subtitle();
        @include number-lines();
        &::before, &::after {
            background-color: #333333;
        }
        padding: 17px 0 30px;
    }

    &__about {
        @include subtitle();
        color: #333333;
    }
}


.search {
    padding: 57px 0 66px 0;
    text-align: center;
    &__title {
        @include title();
        padding-bottom: 35px;
    }

    &__subtitle {
        @include subtitle();
    }

    &__submit {
        margin-top: 52px;
    }
    .submit {
        &__button {
            width: 100%;
            max-width: 458px;
            height: 58px;
            font-size: 21px;
            font-weight: 700;
            color: #fff;
            background-color: #81b3d2;
            border: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: #6ca4c7;
            }
        }
    }
}


.map {
    &__item {
        width: 100%;
    }
}

@import 'sass/Media-query.scss';