
@font-face{
    font-family: 'Born Strong';
    src: url('../fonts/BornStrong-Black.ttf');
}

@font-face{
    font-family: 'Thirsty Script';
    src: url('../fonts/ThirstyScriptRegular.otf');
}

@font-face{
    font-family: 'Futura';
    src: url('../fonts/FuturaTEE\ Bold.ttf');
}

@mixin title {
    font-size: 21px;
    font-weight: 700;
}

@mixin subtitle {
    font-size: 14px;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
}
  
body {
    color: #000;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}
  
a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.page-wraper {
    -webkit-box-shadow: 0 0 25px -15px #000;
    box-shadow: 0 0 25px -15px #000;
}


