@import 'sass/public-style.scss';
@import 'sass/header.scss';
@import 'sass/hero.scss';
@import 'sass/footer.scss';






.picture-video {
    padding: 110px 0 85px 0;
    background-color: #fff;
    position: relative;
    z-index: 99;
}
.picture {
    
		&__title {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 30px;
            padding-top: 76px;
        }
        
		&__subtitle {
            @include subtitle();
            max-width: 427px;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 77px;
		}

		&__item {
            position: relative;
            & img {
                width: 100%;
                height: 257px;
            }
            &:first-child {
                
                width: 100%;
                & img{
                    height: 400px;
                }
            }
            &:nth-child(2) {
                width: 33.3333%;
            }
            &:nth-child(3) {
                width: 33.3333%;
            }
            &:last-child {
                width: 33.3333%;
            }

        }
}
.picture-block {
    display: flex;
    flex-wrap: wrap;
}
.image__caption {
    margin: 0 0 0 21px;
    &__title {
        margin-bottom: 10px;
        font-weight: 700;
    }

    &__subtitle { 
        font-size: 14px;
    }
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    &:first-child {
    .image__item-bg {
        background: url('../img/photo-1.png') no-repeat center top/cover;
        width: 100%;
        height: 400px;
    }
    }
    &:nth-child(2) {
    .image__item-bg {
        background: url('../img/photo-2.png') no-repeat center bottom/cover;
        width: 100%;
        min-height: 280px;
    }
    }
    &:nth-child(3) {
    .image__item-bg {
        background: url('../img/photo-3.png') no-repeat center top/cover;
        width: 100%;
        min-height: 280px;
    }
    }
    &:last-child {
    .image__item-bg {
        background: url('../img/photo-bridge.png') no-repeat center top/cover;
        width: 100%;
        min-height: 280px;
    }
    }

		&__likes {
            display: flex;
            align-items: center;
            padding: 0 25px 0 0;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            &::before {
                content: url('../img/like-icon.svg.svg');
                padding-right: 9px;
            }
		}
}
.caption__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.video-block {
    padding-top: 72px;
}
.video {

		// .video__title

		&__title {
            text-align: center;
            padding-bottom: 20px;
		}

		// .video__subtitle

		&__subtitle {
            max-width: 427px;
            margin: 0 auto;
            text-align: center;
		}
}
.video-item {
    margin-top: 76px;
    & video {
        max-width: 62%;
        display: flex;
        margin: 0 auto;
    }
}




@import 'sass/Media-query.scss';













