@import 'sass/public-style.scss';
@import 'sass/header.scss';
@import 'sass/footer.scss';


.hero {
    height: 400px;
    padding: 78px 0 45px 0;
    background: url('../img/back-desktop.png') no-repeat center top / cover;
    text-align: center;
    
    &::after {
        content: '';
        display: flex;
        height: 61px;
        background: url('../img/intro-triangle.png') no-repeat center top / contain;
    }

    &__title {
        margin-top: 32px;
        font-family: 'Futura';
        font-size: 122px;
        color: #fff;
    }
}

.hero {
    height: auto;
    background-position-y: bottom;
    padding: 78px 0 0 0;
    &__title {
        margin-bottom: 36px;
    }
}

.picture.video {
    padding: 110px 0 85px 0;
}
.picture {
    
		&__title {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 30px;
        }
        
		&__subtitle {
            @include subtitle();
            max-width: 427px;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 77px;
		}

		&__item {
            
            &:first-child {
                background: url('../img/photo-1.png') no-repeat center top / cover;
                height: 400px;
                width: 100%;
            }
            &:nth-child(2) {
                background: url('../img/photo-2.png') no-repeat center top / cover;
                height: 257px;
                width: 33.3333%;
            }
            &:nth-child(3) {
                background: url('../img/photo-3.png') no-repeat center top / cover;
                height: 257px;
                width: 33.3333%;
            }
            &:last-child {
                background: url('../img/photo-bridge.png') no-repeat center top / cover;
                height: 257px;
                width: 33.3333%;
            }

        }
        &__item {
		}
}
.picture-block {
    display: flex;
    flex-wrap: wrap;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
		&__caption {
            margin: 0 0 0 21px;
            &__title {
                margin-bottom: 10px;
                font-weight: 700;
            }
    
            &__subtitle {
                font-size: 14px;
            }
		}

		&__likes {
            display: flex;
            align-items: center;
            padding: 0 25px 0 0;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            &::before {
                content: url('../img/like-icon.png');
                padding-right: 9px;
            }
		}
}
.caption__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.video-block {
    padding-top: 72px;
}
.video {

		// .video__title

		&__title {
            text-align: center;
            padding-bottom: 20px;
		}

		// .video__subtitle

		&__subtitle {
            max-width: 427px;
            margin: 0 auto;
            text-align: center;
		}
}
.video-item {
    margin-top: 76px;
    & video {
        max-width: 62%;
        display: flex;
        margin: 0 auto;
    }
}


















