body {
    left: 0;
    margin: 0;
    /*overflow: hidden;*/
    position: relative;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.block-menu {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #273b63;
    z-index: 1;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 1299px;
    max-width: 100%;
}

.side {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.about a:hover {
    border-bottom: 2px solid #4b6caa;
}

.left-side {
    display: flex;
    height: 40px;
    align-items: center;
}

.right-side {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}


/* Menu */

.menu {
    background-color: #273b63;
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    transition: all 1.5s;
}


.nav-active {
	transform: translateY(0%);
    height: 100px;
    position: relative;
}


.about-menu {
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    white-space: nowrap;
}

.about-menu li {
    margin: 5px;
    height: 20px;
}

.about-menu li a {
    color: #4b6caa;
}


/* Basic CSS */

.background {
    background-color: #0d1a33;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu ul {
    border-top: 1px solid #555;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.menu li:hover {
    cursor: pointer;
    background-color: rgb(18, 30, 102);
}

.menu a {
    font-size: 15px;
    text-decoration: none;
}

.menu li:hover {
    box-shadow: 3px 0 15px black;
}


.menu-toggle {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: .9;
    z-index: 3;
}

.burger {
    height: 60px;
    width: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.menu-btn {
    display: block;
    width: 25px;
    height: 20px;
    border-radius: 10%;
    position: relative;
    border: 2px solid #192a4b;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #4b6caa;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn_active span:before {
    transform: rotate(-45deg);
}

.menu-btn_active span:after {
    transform: rotate(45deg);
}

.menu-btn_active span {
    height: 0;
}

.about {
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    white-space: nowrap;
    display: flex;
    height: 40px;
}

.about li a {
    padding-right: 4px;
    border-right: 2px solid #212e48;
    padding-left: 4px;
    color: #4b6caa;
}

.about li:last-child a {
    border-right: none
}

.giveaway a {
    font-size: 19px;
}

.giveaway a {
    margin: 4px;
    color: #4b6caa;
}

.giveaway i:hover {
    color: #395ac0
}

.giveaway-menu i {
    font-size: 19px;
    color: #4b6caa;
}

.giveaway-menu a {
    margin: 5px;
}

.giveaway-menu i:hover {
    color: #395ac0
}


/* 
.menu {
	opacity: 0;
	display: block;
}*/

.profile {
    height: 78px;
    display: flex;
    align-items: center;
    background-color: #304875;
}

.profile p {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
}

.profile p:first-child {
    float: left;
}

.profile p:last-child {
    color: #1f2d47;
}

.profile__logo {
    border-radius: 50%;
    border: 2px solid #4b6caa;
    float: left;
    width: 50px;
    max-width: 100%;
    margin-left: 5px;
}

.profile__text {
    margin-left: 8px;
}

.profile span {
    color: #cac27c;
}

.dropdown {
    font-size: 10px;
    font-weight: 700;
    height: 18px;
    width: 57px;
    background-color: #202f4c;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
}

.dropdown a {
    color: #697da2;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

.dropdown-content {
    display: none;
    background: #202f4c;
    height: 42px;
    border-radius: 2px;
    width: 57px;
    z-index: 2;
    position: relative;
}

.dropdown-content li {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

.dropdown-content img {
    margin-right: 2px;
}

.dropdown-content li:hover {
    border: 1px solid #697da2;
    border-radius: 2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo img {
    margin: 0px 5px 0px 5px;
}

.logo a {
    font-size: 12px;
    color: #697da2;
    font-weight: 700;
    margin-left: 8px;
    border-right: 2px solid #212e48;
    padding-right: 10px;
    display: flex;
    align-items: center
}

.logout {
    display: none;
}

.logout__item {
    display: flex;
    padding-left: 5px;
    color: #212e48;
    align-items: center;
    width: 60px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.logout__item:hover {
    color: #697da2;
    box-shadow: 0 0 0 2px #697da2;
    border-radius: 3px;
}

.out__text {
    font-size: 12px;
    color: #212e48;
    font-weight: 700;
    margin-left: 5px;
    padding-right: 5px;
}

.menu .profile {
    position: relative;
}

.logout-menu {
    width: 100%;
    position: relative;
    top: 20px;
}

.menu .logout-menu {
    display: flex;
}

.menu .logout__item {
    font-size: 15px;
}

.menu .out__text {
    font-style: 15px;
}

.my__profile {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.my__profile-menu div {
    display: none;
}

.my__profile-menu div>a {
    color: #4b6caa;
}

.my__profile-menu a:hover {
    border-bottom: solid #4b6caa 2px;
}

.my__profile-menu a:nth-child(4) {
    border-bottom: none;
}

.my__profile {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.my__profile div {
    display: none;
}

.my__profile div>a {
    color: #4b6caa;
}

.my__profile a:hover {
    border-bottom: solid #4b6caa 2px;
}

.my__profile a:nth-child(4) {
    border-bottom: none;
}

.profile__item {
    padding-right: 4px;
    border-right: 2px solid #212e48;
    color: #4b6caa;
}

.transaction__item {
    padding: 0 4px 0 4px;
    border-right: 2px solid #212e48;
    color: #4b6caa;
}

.list a {
    margin-left: 4px;
    color: #4b6caa;
    text-decoration: none;
}

.list span {
    color: #86d999;
}

.list img {
    margin-right: 2px;
}

.create__button {
    width: 90px;
    height: 25px;
    color: #68661f;
    background-color: #d0c352;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.create__button:hover a {
    background-color: white
}

@media screen and (min-width:971px) {
    .menu-toggle {
        display: none;
    }
    .my__profile div {
        display: block;
    }
    .logout {
        display: block;
    }
    .giveaway {
        display: block;
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
        margin-right: 10px;
        align-items: center;
        padding-bottom: 2px;
    }
    .profile {
        min-width: 214px;
    }
}

@media screen and (max-width:970px) {
    .menu>.my__profile div {
        display: block;
    }
    .menu>.logout {
        display: block;
    }
    .left-side {
        max-width: 250px;
    }
    .about {
        width: 100%;
    }
    .side {
        width: 100%
    }
    .giveaway {
        display: none;
    }
    .giveaway-menu {
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
        white-space: nowrap;
        margin-top: 5px;
        margin-right: 10px;
        align-items: center;
        padding-bottom: 2px;
    }
    .profile {
        display: none;
    }
}

@media screen and (max-width:630px) {
    .about {
        display: none;
    }
    .about-menu {
        display: block;
    }
}

@media screen and (min-width:630px) {
    .about-menu {
        display: none;
    }
}
